@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Lobster&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour+Convergence&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour+Convergence&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import './Home.css';
@import './Journal.css';
@import './History.css';
@import './Error.css';
@import './LoadingSpinner.css';
@import './JournalQueries.css';
@import './Settings.css';
@import './SettingsQueries.css';
@import './DarkModeToggle.css';
@import './Cursor.css';

#root {
  min-height: 100vh;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
  }

  body {
    background-color: #ffccdfd4;
    
  }
  
  /* Dark mode */
body.dark-mode {
  background-color: #5c396e;
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #ffccdfd4;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #c2fbd7;
  border-radius: 10px;
  border: 3px solid #ffccdfd4;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #91f8b7;
}

/* Dark mode scrollbar */
body.dark-mode::-webkit-scrollbar-track {
  background: #5c396e;
}

body.dark-mode::-webkit-scrollbar-thumb {
  background-color: #6ea79a;
  border: 3px solid #5c396e;
}

body.dark-mode::-webkit-scrollbar-thumb:hover {
  background-color: #568379;
}




 
