.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 45px; /* Adjust to fit your image */
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@media (hover: none) and (pointer: coarse) {
  .custom-cursor {
    display: none;
  }
}