.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0.2rem;
    text-align: center;
    background: #ffccdf;
    opacity: 0; 
    animation: fadeIn 1.5s ease-out forwards;
    overflow-y: auto;
    position: relative;
  }

  body.dark-mode .home-container {
    background: #5c396e;
  }

  .home-title {
    font-size: 5rem;
    color: #c2fbd7;
    font-family: "Libre Baskerville", serif;
    font-weight: 700; 
    opacity: 0; 
    transform: translateY(-20px); 
    animation: slideInDown 0.6s ease-out 0.2s forwards;
    margin-top: 0;
     text-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.6),   
    -1px -1px 2px rgba(0, 0, 0, 0.6), 
    0 0 8px rgba(255, 160, 163, 0.6), 
    0 0 16px rgba(255, 160, 163, 0.4);
  }

  body.dark-mode .home-title {
    color: #6ea79a;
     text-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.7),     
    -1px -1px 2px rgba(0, 0, 0, 0.7),   
    0 0 8px rgba(110, 167, 154, 0.6),   
    0 0 16px rgba(110, 167, 154, 0.4);
  }
  
  .home-subtitle {
    font-size: 2.6rem;
    color: #c2fbd7;
    margin-bottom: 4rem;
    font-family: "Caveat", cursive;
    font-style: italic;
    opacity: 0; 
    transform: translateY(-15px); 
    animation: slideInDown 0.6s ease-out 0.4s forwards;
  }
  
  body.dark-mode .home-subtitle {
    color: #6ea79a;
  }
  
  .home-button {
    background-color: #baefcd;
    color: #ff91b8;
    border: none;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Ubuntu", sans-serif;
    opacity: 0; 
    transform: translateY(-10px); 
    animation: slideInDown 0.6s ease-out 0.6s forwards;
    margin-top: 1rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
  }

  body.dark-mode .home-button {
    background-color: #93c9bc;
    color: #422252b2;
  }
  
  .home-button:hover {
    background-color: #bbe1c8;
  }

  body.dark-mode .home-button:hover {
    background-color: #507068;
  }
  .settings-link-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background: transparent;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
  }

  /* Keyframes for the animations */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideInDown {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


/* Media query for small screens (e.g., max-width: 600px) */
@media (max-width: 600px) {
  .home-container {
    height: 90vh;
  }
  
  .home-title {
      font-size: 3rem; /* Smaller title */
      margin-bottom: 1.4rem;
  }

  .home-subtitle {
      font-size: 1.6rem; /* Smaller subtitle */
      margin-bottom: 3rem;
  }

  .home-button {
      font-size: 1.3rem; /* Slightly smaller button text */
      padding: 0.7rem 1.6rem; /* Adjust button padding */
  }
}

@media (max-width: 400px) {
  .home-title {
      font-size: 4.2rem;
  }

  .home-subtitle {
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
  }
}

.settings-link-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.settings-link-button:hover {
  background-color: transparent;
}

.settings-link-button:hover {
  background-color: transparent; 
}