/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .settings-page-container {
      padding: 1rem;
      margin: 2rem;
    }
  
    .settings-header {
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  
    .message-submit-button {
      margin-left: 2rem;
      margin-right: 2rem;
      font-size: 1.2rem;
    }
  
    .tip-box {
      max-width: 90%; /* Makes the tip box responsive */
    }
  
    .message-textarea {
      padding: 0.8rem;
      font-size: 0.9rem;
    }
  
    .settings-title {
      font-size: 2rem;
    }
  
    .about-section-container {
      padding: 1rem;
      margin-bottom: 2rem;
    }
  
    .tip-button {
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .settings-page-container {
      padding: 1rem;
      margin: 1rem;
    }
  
    .settings-title {
      font-size: 1.8rem;
    }
  
    .settings-input, .message-textarea {
      font-size: 0.9rem;
    }
  
    .message-submit-button {
      font-size: 1rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  
    .tip-box p {
      font-size: 0.9rem;
    }
  
    .tip-button {
      font-size: 1rem;
      padding: 0.5rem 0.8rem;
    }
  }